{% extends "layout.html" %}


{% block body %}

<form action = "/admin" method = "POST">
    <h2><span>ADD JOB AD ENTRY</span></h2>
    <p>Title:</p>
    <p><input type = "text" name = "title" style="width:100%" value="{{ title }}" required/></p>
    <p>Description:</p>
    <textarea type="text" name="description" style="height:200px; width:100%" required> {{ description }} </textarea>
    <p> <label for="file">Recommended Category</label> </p>
    <input type="text" name="category" value="{{ prediction }}">
    <p>
        <input type="submit" name="button" value="Classify" />
        <input type="submit" name="button" value="Save">
    </p>
    <p style="color:red"> {{ category_flag }} </p>
 </form> 

{% endblock %}

{% block script %}

{% endblock %}

