{% extends "layout.html" %}

{% block links %}
<div class="navbar-nav">
    <a class="nav-item nav-link" href="/logout">Logout</a>
</div>
{% endblock %}

{% block body %}
<div class="content-section">
    <form action = "/admin" method = "POST">
        <h2 class="border-bottom mb-4">JOB LISTING</h2>
        <p>Title:</p>
        <p><input class="form-control form-control-lg" type = "text" name = "title" style="width:100%" value="{{ title }}" required/></p>
        <p>Description:</p>
        <textarea class="form-control form-control-lg" type="text" name="description" style="height:200px; width:100%" required> {{ description }} </textarea>
        <p> <label for="file">Recommended Category</label> </p>
        <input class="form-control form-control-lg" type="text" name="category" value="{{ prediction }}">
        <p class="form-group">
            <input type="submit" name="button" value="Classify" />
            <input type="submit" name="button" value="Save">
        </p>
        <p style="color:red"> {{ category_flag }} </p>
    </form>
</div>


{% endblock %}

{% block script %}

{% endblock %}

