{% extends "layout.html" %}

{% block body %}
<div id="main">
  <div id="content">
    <div id="category">
      <div class="media content-section">
        <div class="media-body">
          <div class="job-metadata">
            <a class="mr-2" href="#">Company</a>
            <small class="text-muted">Company</small>
          </div>
          <div class="title">

          </div>
          <div class="data-article" id="data-content">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


