{% extends "layout.html" %}

{% block links %}
<div class="navbar-nav">
    <a class="nav-item nav-link" href="/login">Login</a>
</div>
{% endblock %}

{% block body %}
<div id="main">
    <div id="content">
        <h1> Found {{ num_results }} result(s) with "{{ search_string }}" (only display maximum 4 results) ... </h1>

        <div id="category">
            <div class="media content-section">
                <div class="media-body">
                    <div class="job-metadata">
                        <a class="mr-2" href="#">Company</a>
                        <small class="text-muted">Company</small>
                    </div>
                    <h2><a id="link-1" class="job-title" href="#"> </a></h2>
                    <p id="data-embed-1" class="job-content"> </p>
                </div>
            </div>

            <div class="media content-section">
                <div class="media-body">
                    <div class="job-metadata">
                        <a class="mr-2" href="#">Company</a>
                        <small class="text-muted">Company</small>
                    </div>
                    <h2><a id="link-3" class="job-title" href="#"> </a></h2>
                    <p id="data-embed-3" class="job-content"> </p>
                </div>
            </div>

            <div class="media content-section">
                <div class="media-body">
                    <div class="job-metadata">
                        <a class="mr-2" href="#">Company</a>
                        <small class="text-muted">Company</small>
                    </div>
                    <h2><a id="link-4" class="job-title" href="#"> </a></h2>
                    <p id="data-embed-4" class="job-content"> </p>
                </div>
            </div>

            <div class="media content-section">
                <div class="media-body">
                    <div class="job-metadata">
                        <a class="mr-2" href="#">Company</a>
                        <small class="text-muted">Company</small>
                    </div>
                    <h2><a id="link-2" class="job-title" href="#"> </a></h2>
                    <p id="data-embed-2" class="job-content"> </p>
                </div>
            </div>

        </div>


    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">

    $(document).ready(function (){
    
      // Disable everything before enable back
      $('[id^="post-"]').hide();
    
      let article_all = {{ article_search|safe }};

      $.each(article_all, function(i, a){
        var article_link = "{{ url_for('job_ad', folder='folder_holder', filename='filename_holder') }}".replace('folder_holder', a[0]).replace('filename_holder', a[1])
        $.get(article_link, function(data){
          var shortened = $(data).find('#data-content').text().substring(0, 800);
          var title = $(data).find('#data-title').text();
          var image = $(data).find('#data-img img').attr('src');

          // Embed data into the homepage
          $("#post-" + String(i+1)).show();
          $("#data-embed-" + String(i+1)).text(shortened + '...');
          $("#img-" + String(i+1) + " img").attr("src", image);
          $("#link-" + String(i+1)).text(title);

        });
        $("#link-" + String(i+1)).attr("href", article_link)
      });
    
    });
    
    </script>
{% endblock %}
